<div class="container">
  <div class="row">
    <div class="col-md-12" style="background-color:#E89090">
      <img src="http://www.techworth.in/wp-content/uploads/2015/06/blog-banner1.jpg"style="height:100px;/>


      <% link_to 'New Post', new_post_path, class:"btn btn-success"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <th>Date</th>
          <th>Author</th>
          <th>Title</th>
          <th>Content</th>
          <th>Options</th>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.created_at.strftime('%m/%d/%Y')%></td>
              <td><%= post.author %></td>
              <td><%= post.title %></td>
              <td><%= post.content[1...100] %>...</td>
              <td>
                <%= link_to post do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
                <% end %>
                <% if user_signed_in? && current_user.admin? %>
                 - <%= link_to edit_post_path(post) do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <% end %> -
                  <%= link_to post, method: :delete, data: { confirm: 'Estás seguro de eliminar este post?' } do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>
